/* .navbar-wrapper > ul {
  display: flex;
}
.navbar-wrapper > ul > li {
  flex: 1;
  margin: 0 2px;
  text-align: center;
}
.navbar-wrapper > ul > li.mini-search {
  flex: 4;
} */
/* .navbar-wrapper > ul > li > a {
  border-radius: 4px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
  text-align: center;
} */
.main-header .logo-wrapper {
  height: 100%;
}
.main-header .logo-wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-wrapper svg {
  fill: #1c1b1f;
}
.navbar-wrapper .nav-btn {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px;
  transition: all 0.3s ease;
}
.navbar-wrapper .nav-btn:hover {
  opacity: 0.8;
}
.navbar-wrapper .nav-btn.active {
  border-bottom: 3px solid #fa8622;
}
.navbar-wrapper .nav-btn.active svg {
  fill: #fa8622;
}
.navbar-wrapper .nav-btn-rounded {
  border: 0px;
  background: #f3f5f8;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin: 10px 5px;
}
.navbar-wrapper .nav-btn-rounded:hover {
  opacity: 0.7;
}
.navbar-wrapper .nav-btn-rounded.active svg circle {
  fill: #fa8622;
}
.navbar-wrapper .counter {
  border-radius: 100% !important;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  position: absolute;
  right: 6px;
  top: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navbar-wrapper .counter.red {
  background: #ff5e3a;
}
.navbar-wrapper .counter.blue {
  background: #38a9ff;
}
.navbar-wrapper .counter.purple {
  background: #7c5ac2;
}
.navbar-wrapper .user-menu > img {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-top: -5px;
  width: 20px;
}
.navbar-wrapper > ul > li.dropdown {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-wrapper.top-nav-middle {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
}
.navbar-wrapper.top-nav-middle > ul {
  display: flex;
}
.navbar-wrapper.top-nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-wrapper.top-nav-right > ul {
  display: flex;
}
.navbar-wrapper.top-nav-right > ul .height-full {
  height: 100%;
}
.navbar-wrapper.top-nav-right > ul .header-icon {
  margin: 20px 5px;
}
.navbar-wrapper.top-nav-right > ul .header-icon svg {
  fill: #ff7600;
  color: #ff7600;
}

@media (min-width: 768px) {
  .navbar-wrapper .user-menu > img {
    height: 52px;
    width: 52px;
  }
  .navbar-wrapper > ul > li.dropdown {
    position: relative;
  }
}
.top-nav-right .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 67px, 0px);
}

.stories.carousel .story > .item-link > .info .name {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.story-board {
  background-color: transparent;
}

.js_story-deleter {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
}

.intro-profile-pic {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro-profile-pic img {
  width: 100%;
  height: auto;
}

.add-about-box {
  margin: 20px auto;
}
.add-about-box .mb5 > a {
  background-color: #e6e8ee;
  color: #fa8622;
  width: 100%;
  display: block;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
.add-about-box .mb5 > a i {
  display: none;
}
.add-about-box .mb5 > i {
  display: none;
}
.add-about-box .mb5 > span {
  display: none;
}

.publisher .publisher-head {
  display: none;
}
.publisher .publisher-message {
  padding: 15px 10px 15px 10px;
  position: relative;
  margin: 0px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.publisher .publisher-message .publisher-avatar {
  border: 1px solid #efefef;
  border-radius: 50%;
  height: 40px;
  padding: 2px;
  width: 40px;
}
.publisher .publisher-message .colored-text-wrapper {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 5px 20px;
  flex: 1 1 auto;
}
.publisher .publisher-message .publisher-emojis {
  background-color: #f5f5f5;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publisher .publisher-message .publisher-emojis .far {
  color: #fa8622;
  cursor: pointer;
}
.publisher .publisher-message .publisher-camicon {
  background-color: #f5f5f5;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publisher .publisher-message .publisher-camicon .svg-container {
  margin-right: 0px !important;
}
.publisher.active .publisher-head {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}
.publisher.active .publisher-head--title {
  color: #696a6b;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 40%;
  cursor: pointer;
}
.publisher.active .publisher-head--title .icon {
  width: 40px;
  height: 40px;
  background-color: #fdefea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.publisher.active .publisher-head--title .icon svg {
  fill: #fdefea;
}
.publisher.active .publisher-head--title .icon svg path {
  stroke: #ef6431;
}
.publisher.active .publisher-head--privacy .btn {
  padding: 8px 20px;
  border-radius: 30px;
}

.publisher-overlay {
  background: #000;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1002;
}

body.publisher-focus .publisher-overlay {
  bottom: 0;
  opacity: 0.6;
}

.publisher {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

body.night-mode .publisher {
  background: var(--card-dark-color);
}

body.publisher-focus .publisher {
  z-index: 1003;
}

.publisher.mini {
  border-radius: 0;
  margin-bottom: 0;
}

.publisher-loader {
  display: none;
}

.publisher-close,
.publisher-loader {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}

.post-colored,
.post-colored-preview,
.publisher-message.colored {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 300px;
  padding: 30px;
}

.publisher-message.colored {
  border-radius: 2px 2px 0 0;
}

.post-colored-preview {
  border-radius: 2px;
}

.post-colored-preview.small {
  height: 180px;
}

.post-colored-preview h2 {
  padding-top: 100px;
  text-align: center;
}

.post-colored-preview h4 {
  padding-top: 50px;
  text-align: center;
}

.post-colored-text-wrapper,
.publisher-message.colored .colored-text-wrapper {
  display: flex;
  height: 240px;
  text-align: center;
}

.publisher-message.colored .colored-text-wrapper {
  overflow-x: auto;
}

body.night-mode .publisher-avatar {
  border-color: var(--card-dark-divider);
}

.publisher-message.colored .publisher-avatar {
  display: none;
}

.publisher textarea {
  background: transparent;
  border: 0;
  direction: ltr;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
  outline: none;
  padding: 0;
  resize: none;
  width: 100%;
}

body.night-mode .publisher textarea {
  color: #fff;
}

.publisher textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.65;
}

.publisher textarea::placeholder {
  color: inherit;
  opacity: 0.65;
}

.publisher textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.65;
}

.publisher textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.65;
}

.post-colored .post-text,
.publisher-message.colored textarea {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  margin: auto;
  text-align: center;
}

.publisher-message.colored textarea {
  min-height: 60px;
}

.post-colored .post-text a {
  color: inherit !important;
  text-decoration: underline !important;
}

.post-colored .post-text a:hover {
  text-decoration: none !important;
}

body.night-mode .publisher-emojis .far {
  color: var(--body-color-dark);
}

.publisher-slider .publisher-tools-tabs {
  margin: 0 15px;
  padding-top: 15px;
}
.publisher-slider .publisher-tools-tabs .post-type-extra {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--col {
  flex: 1 1 auto;
  width: 30%;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--more-list {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 20px;
  z-index: 1;
  top: 54px;
  right: 0px;
  padding: 10px 10px;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--more-list li {
  background-color: #f4f4f4;
  border-radius: 20px;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--more-list li .publisher-tools-tab {
  display: flex;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--morebox {
  position: relative;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--morebox:hover .post-type-extra--more-list {
  display: block;
}
.publisher-slider .publisher-tools-tabs .post-type-extra--more {
  width: 120px;
  text-align: center;
}
.publisher-slider .publisher-tools-tabs .publisher-tools-tab {
  background: #f7f7f7;
  border-radius: 16px;
  color: #555;
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 10px 14px;
}
.publisher-slider .publisher-tools-tabs .publisher-tools-tab.divider {
  border-top: 1px solid #f4f4f4;
  margin-bottom: 15px;
}
.publisher-slider .publisher-tools-tabs .publisher-tools-tab:hover {
  background: #f3f3f3;
  color: var(--link-color);
  cursor: pointer;
}

.publisher-scraper {
  display: none;
  padding: 10px;
  position: relative;
}

.publisher-scraper video {
  width: 100%;
}

.publisher-scraper img {
  height: auto;
  width: 100%;
}

.publisher-scraper-remover {
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  height: 26px;
  padding-right: 4px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 26px;
  z-index: 1;
}

.publisher-scraper-remover:hover {
  background: #fff;
}

.publisher-scraper-remover button.close {
  opacity: 0.5;
}

.publisher-attachments {
  padding: 10px 10px 5px;
}

.publisher-meta {
  border-top: 1px dashed #eee;
  display: none;
  font-weight: 600;
  margin: 0 15px;
  padding: 8px 0;
  position: relative;
}

body.night-mode .publisher-meta {
  border-color: var(--card-dark-divider);
}

.publisher-meta.top {
  border-bottom: 1px dashed #eee;
  border-top: 0;
}

.publisher-meta .svg-container {
  left: 14px;
  position: absolute;
  top: 18px;
}

.publisher-meta .svg-container.static {
  position: static;
}

.publisher-meta input {
  background: #f3f3f3;
  border: 0;
  border-radius: 16px;
  color: var(--link-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  outline: 0 none;
  padding: 12px 16px 12px 40px;
  width: 100%;
}

.publisher-meta input.no-icon {
  padding: 12px 16px;
}

body.night-mode .publisher-meta input {
  background: var(--card-dark-input);
  color: var(--body-color-dark);
}

.publisher-meta input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.publisher-meta input:-moz-placeholder {
  color: #9c9c9c;
  opacity: 1;
}

.publisher-meta input:-ms-input-placeholder {
  color: #9c9c9c;
}

.publisher-custom-thumbnail {
  border-top: 1px dashed #eee;
  display: none;
  margin: 10px 15px;
  overflow: hidden;
  padding: 8px 0;
  position: relative;
}

body.night-mode .publisher-custom-thumbnail {
  border-color: var(--card-dark-divider);
}

.publisher-custom-thumbnail .x-image {
  height: 160px;
  margin-top: 5px;
  width: 100%;
}

.publisher-custom-thumbnail .x-image-loader {
  padding-top: 80px;
}

#feelings-menu-toggle {
  background: #f3f3f3;
  border-radius: 18px;
  color: #6f6f6f;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 18px;
  white-space: nowrap;
}

body.night-mode #feelings-menu-toggle {
  background: var(--card-dark-input);
}

#feelings-menu-toggle.active {
  background: #e2e8f6;
  display: table-cell;
}

body.night-mode #feelings-menu-toggle.active {
  background: var(--card-dark-input);
  color: var(--body-color-dark);
}

#feelings-data {
  display: table-cell;
  padding-left: 5px;
  width: 100%;
}

#feelings-data span {
  background: var(--link-color);
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 14px;
  white-space: nowrap;
}

#feelings-data span .twa {
  vertical-align: middle;
}

.feeling-item {
  color: #666;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

body.night-mode .feeling-item {
  color: var(--body-color-dark);
}

.feeling-item:hover {
  background: #fff;
  color: var(--link-color) !important;
}

body.night-mode .feeling-item:hover {
  background: var(--card-dark-input);
}

.feeling-item .icon {
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
}

.feeling-item .data {
  display: table-cell;
  font-size: 1.2em;
  font-weight: 600;
  vertical-align: middle;
  width: 100%;
}

.colored-pattern-item {
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  padding: 0;
  width: 36px;
}

body.night-mode .colored-pattern-item {
  border-color: var(--card-dark-input);
}

.colored-pattern-item.active {
  box-shadow: 0 0 0 2px rgba(51, 103, 214, 0.65);
}

.dropdown-menu.gif-search {
  display: none;
}

.gif-search .item {
  float: left;
  margin-bottom: 1px;
  margin-right: 1px;
  width: 33%;
}

.gif-search .item > img {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

body.night-mode .publisher-tools-tabs {
  border-color: var(--card-dark-divider);
}

body.night-mode .publisher-tools-tabs .divider {
  border-top-color: var(--card-dark-divider);
}

body.night-mode .publisher-tools-tab {
  background: var(--card-dark-hover);
  color: var(--body-color-dark);
}

body.night-mode .publisher-tools-tab:hover {
  background: var(--card-dark-input);
}

.publisher-tools-tab.active,
body.night-mode .publisher-tools-tab.active {
  color: var(--link-color);
}

.publisher-tools-tab.activated {
  background: #d2e0ff;
}

body.night-mode .publisher-tools-tab.activated {
  background: var(--card-dark-input);
}

.publisher-tools-tab[data-tab=audio].activated:after,
.publisher-tools-tab[data-tab=file].activated:after,
.publisher-tools-tab[data-tab=video].activated:after {
  background: transparent;
  bottom: 0;
  content: "";
  cursor: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.publisher-tools-tab.disabled {
  position: relative;
}

.publisher-tools-tab.disabled:hover {
  background: #f7f7f7;
  color: #7f838a;
  cursor: auto;
}

body.night-mode .publisher-tools-tab.disabled:hover {
  background: var(--card-dark-input);
  color: var(--body-color-dark);
}

.publisher-tools-tab.disabled:after {
  background: #fff;
  border-radius: 16px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
}

body.night-mode .publisher-tools-tab.disabled:after {
  background: #000;
}

.publisher-tools-tab.attach {
  overflow: hidden;
  position: relative;
}

.publisher-tools-tab.attach form {
  display: initial;
}

.publisher-tools-tab img {
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.publisher-footer {
  padding: 15px;
  text-align: right;
}

.publisher-footer-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.publisher-footer-option {
  background: #f7f7f7;
  border-radius: 16px;
  color: #555;
  cursor: pointer;
  flex: 1;
  font-size: 13px;
  font-weight: 700;
  margin-right: 20px;
  padding: 10px 14px;
}

.publisher-footer-option label {
  cursor: pointer;
  padding-top: 0;
  text-align: left;
  width: 100%;
}

.publisher-footer-option:last-child {
  margin-right: 0;
}

body.night-mode .publisher-footer-option {
  background: var(--card-dark-hover);
  color: var(--body-color-dark);
}

.publisher-footer-buttons {
  display: flex;
  justify-content: space-between;
}

.posts-filter {
  border-bottom: 1px solid #dfdfdf;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

body.night-mode .posts-filter {
  border-bottom-color: var(--card-dark-divider);
}

.posts-filter .btn-group .btn,
.posts-filter .btn-group .btn-default.active,
.posts-filter .btn-group .btn-default:active,
.posts-filter .btn-group .open .btn-default.dropdown-toggle,
.posts-filter .btn-group .open .btn.dropdown-toggle {
  background: #fff;
  border: 0 !important;
  border-radius: 10px;
  box-shadow: none !important;
  font-size: 13px;
  padding: 6px 10px !important;
}

body.night-mode .posts-filter .btn-group .btn,
body.night-mode .posts-filter .btn-group .btn-default.active,
body.night-mode .posts-filter .btn-group .btn-default:active,
body.night-mode .posts-filter .btn-group .open .btn-default.dropdown-toggle,
body.night-mode .posts-filter .btn-group .open .btn.dropdown-toggle {
  background: var(--card-dark-color);
  color: var(--body-color-dark);
}

.posts-filter .countries-filter {
  background: #fff;
  border-radius: 10px;
  color: #212529;
  font-size: 13px;
  padding: 7px 10px;
}

body.night-mode .posts-filter .countries-filter {
  background: var(--card-dark-color);
  color: var(--body-color-dark);
}

.posts-filter .dropdown-menu:not(.countries-dropdown) {
  min-width: 160px;
}

.posts-filter .dropdown-menu .dropdown-item {
  padding: 2px 16px;
}

.add-job-question {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.add-job-question:hover {
  background: #f3f3f3;
}

body.night-mode .add-job-question {
  background: var(--card-dark-input);
  border-color: var(--card-dark-divider);
}

body.night-mode .add-job-question:hover {
  background: var(--card-dark-color);
}

.job-question {
  background: #f7f7f7;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

body.night-mode .job-question {
  background: var(--card-dark-input);
}

.job-question .question {
  font-size: 16px;
  font-weight: 700;
}

.job-question .answer {
  font-size: 14px;
}

.job-candidate-wrapper {
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 15px;
}

body.night-mode .job-candidate-wrapper {
  border-color: var(--card-dark-divider);
}

.job-candidate-avatar {
  display: table-cell;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.job-candidate-info {
  display: table-cell;
  font-size: 14px;
  vertical-align: top;
  width: 100%;
  word-break: break-word;
}

.job-candidate-info .name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.posts-staging-btn {
  display: none !important;
  left: 50%;
  position: fixed;
  top: 150px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  z-index: 99;
}

.post {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  margin-bottom: 20px;
  position: relative;
}

body.night-mode .post {
  background: var(--card-dark-color);
}

.post.flagged {
  background: #f6f7f8;
  padding: 15px;
}

.post .pin-icon {
  color: #f9b340;
  font-size: 25px;
  position: absolute;
  right: 18px;
  top: -10px;
  width: auto;
}

.post.boosted,
body.night-mode .post.boosted {
  border: 2px solid #ffa412;
}

.post .boosted-icon {
  background: #ffa412;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  left: -5px;
  padding: 3px 6px;
  position: absolute;
  top: -15px;
  transform: rotate(-20deg);
  width: auto;
}

.post.pending,
body.night-mode .post.pending {
  border: 1px dashed #9b9b9b;
}

.post .pending-icon {
  color: #f9b340;
  font-size: 25px;
  position: absolute;
  right: 18px;
  top: -18px;
  width: auto;
}

.post.highlighted {
  border: 1px solid #4083a9;
  box-shadow: inset 0 0 0 1px #4083a9;
}

.post.is_hidden {
  border: 2px dashed #aeaeae;
  border-radius: 8px;
  z-index: 1;
}

.post a:not(.dropdown-item):hover {
  text-decoration: underline;
}

.post-memory-header {
  border-bottom: 1px solid #f4f4f4;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: capitalize;
}

body.night-mode .post-memory-header {
  border-color: var(--card-dark-divider);
}

.post-body.with-loader {
  padding: 16px;
}

.post-top-alert {
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 0, #465298 20px);
  border-radius: 8px 8px 0 0;
  color: #fff;
  filter: grayscale(1);
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
}

.post-header {
  margin-bottom: 10px;
  padding: 16px 16px 0;
}

.post-avatar {
  display: table-cell;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.post-avatar-anonymous {
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
}

.post-avatar-picture {
  background-color: #eee;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: block;
  height: 100%;
  min-height: 60px;
  min-width: 60px;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}

.post-avatar-picture.small {
  min-height: 25px;
  min-width: 25px;
}

.post-avatar-picture.large {
  min-height: 60px;
  min-width: 60px;
}

.post-avatar-picture.rounded {
  border-radius: 50%;
}

.post-avatar .online-dot {
  border: 3px solid #fff;
  border-radius: 50%;
  bottom: 0;
  color: #65a830;
  font-size: 10px;
  margin-right: 3px;
  position: absolute;
  right: 4px;
}

body.night-mode .post-avatar .online-dot {
  border-color: var(--card-dark-color);
}

.post-meta {
  word-wrap: break-word;
  display: table-cell;
  vertical-align: top;
  width: 100%;
  word-break: break-word;
}

.post-meta .dropdown .dropdown-toggle {
  border-radius: 10px;
  color: #888;
  padding: 6px 8px;
}

.post-meta .dropdown .dropdown-toggle.show,
.post-meta .dropdown .dropdown-toggle:hover {
  background: #f4f4f4;
  color: #666;
  cursor: pointer;
}

body.night-mode .post-meta .dropdown .dropdown-toggle.show,
body.night-mode .post-meta .dropdown .dropdown-toggle:hover {
  background: var(--card-dark-divider);
  color: var(--body-color-dark);
}

.post-meta .dropdown-toggle:after {
  display: none !important;
}

.post-author {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.post-time {
  color: #999;
  font-size: 11px;
  line-height: 16px;
}

.post-time a {
  color: #999;
}

.post-time .fa:hover {
  cursor: pointer;
}

.post-time .btn-group,
.post-time .btn-group .btn {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #999 !important;
  padding: 2px 4px !important;
}

.post-time .btn-group .btn:hover {
  background: #f3f3f3 !important;
}

.post-text {
  word-wrap: break-word;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 16px;
  text-align: initial;
  transition: height 0.2s;
  word-break: normal;
}

.post-media-meta .post-text,
.post-product-container .post-text {
  padding: 0;
}

.post-replace {
  font-size: 15px;
  line-height: 22px;
}

.post-replace > a[data-readmore-toggle] {
  margin-left: 16px;
}

.post-product-container .post-replace > a[data-readmore-toggle] {
  margin-left: 0;
}

.post-text-translation {
  border-left: 2px solid #e9eaee;
  margin-top: 10px;
  padding-left: 10px;
}

.post-text .twa {
  background-size: 1.6em 1.6em !important;
  height: 1.6em !important;
  margin: 0 0.0665em 0 0.15em !important;
  vertical-align: -0.15em !important;
  width: 1.6em !important;
}

.post-snippet {
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  margin: 16px;
}

body.night-mode .post-snippet {
  border-color: var(--card-dark-divider);
}

.post-snippet-toggle {
  border-radius: 4px;
  padding: 6px;
  text-align: center;
}

.post-edit,
.post-stats {
  padding: 0 16px;
}

.post-stats {
  color: #999;
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.post-actions {
  border-top: 1px solid #f4f4f4;
  display: flex;
  margin-top: 10px;
  padding: 6px 16px;
}

body.night-mode .post-actions {
  border-color: var(--card-dark-divider);
}

.post-actions .action-btn {
  border-radius: 14px;
  color: #555;
  flex: 1;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  padding: 10px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

body.night-mode .post-actions .action-btn {
  color: var(--body-color-dark);
}

.post-actions .action-btn:hover {
  background: #f7f7f7;
  cursor: pointer;
}

body.night-mode .post-actions .action-btn:hover {
  background: var(--card-dark-hover);
}

.post-footer {
  background: #f9f9f9;
  border-radius: 0 0 14px 14px;
  border-top: 1px solid #eee;
  padding: 0 15px;
}

body.night-mode .post-footer {
  background: var(--card-dark-color);
  border-top-color: var(--card-dark-divider);
}

.post-approval {
  background: #f9f9f9;
  border-radius: 0 0 16px 16px;
  border-top: 1px solid #eee;
  padding: 15px;
  text-align: right;
}

body.night-mode .post-approval {
  background: var(--card-dark-color);
  border-top-color: var(--card-dark-divider);
}

.post-social-share {
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 20px;
  padding-bottom: 15px;
  text-align: center;
}

body.night-mode .post-social-share {
  border-color: var(--card-dark-divider);
}

.post-comments {
  padding-top: 10px;
}

.comments-filter {
  border-bottom: 1px solid #e6ecf5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

body.night-mode .comments-filter {
  border-bottom-color: var(--card-dark-divider);
}

.comments-filter .btn-group .btn,
.comments-filter .btn-group .btn-default.active,
.comments-filter .btn-group .btn-default:active,
.comments-filter .btn-group .open .btn-default.dropdown-toggle,
.comments-filter .btn-group .open .btn.dropdown-toggle {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  color: var(--link-color) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comments-filter .dropdown-menu {
  min-width: 100%;
}

.comments-filter .dropdown-menu .dropdown-item {
  padding: 4px 16px;
}

.pg_wrapper a {
  background-color: #f5f5f5;
  background-position: 50%;
  background-size: cover;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

body.night-mode .pg_wrapper a {
  background-color: var(--card-dark-hover);
}

.pg_wrapper .more {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  left: 0;
  line-height: 100%;
  padding-top: 40%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.pg_1x {
  text-align: center;
}

.pg_1x img {
  max-height: 680px;
  max-width: 100%;
}

.pg_2x {
  float: left;
  padding-right: 1px;
  width: 50%;
}

.pg_2x > a {
  padding-bottom: 100%;
}

.pg_1o3,
.pg_2o3 {
  float: left;
  margin-right: 1px;
}

.pg_1o3 {
  margin-right: -1px;
}

.pg_2o3 .pg_2o3_in {
  margin-bottom: 1px;
}

.pg_2o3 .pg_2o3_in:last-child {
  margin-bottom: 0;
}

.pg_1o3 .pg_1o3_in {
  margin-bottom: 1px;
}

.pg_1o3 .pg_1o3_in:last-child {
  margin-bottom: 0;
}

.post-media {
  background: #f3f3f3;
  border-radius: 16px;
}

.post-snippet .post-media {
  border-radius: 4px;
}

body.night-mode .post-media {
  background: var(--card-dark-input);
}

.post-media.list {
  background: #fff;
  border: 0;
  box-shadow: none;
  margin-bottom: 15px;
}

body.night-mode .post-media.list {
  background: var(--card-dark-color);
}

.post-media img.img-fluid {
  max-height: 350px;
  width: 100%;
}

.post-media-image-wrapper {
  position: relative;
}

.post-media-image-meta {
  bottom: 15px;
  left: 15px;
  position: absolute;
}

.post-media-image {
  display: block;
  position: relative;
}

.post-media-image .image,
.post-media-image > div {
  border-radius: 16px 16px 0 0;
}

.post-media-image .image {
  background-color: #eee;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
}

body.night-mode .post-media-image .image {
  background-color: transparent;
}

.post-media-image .source {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 13px;
  left: 10px;
  padding: 8px 12px;
  position: absolute;
  text-transform: uppercase;
}

.post-media-image .icon {
  background: #fff;
  border-radius: 50%;
  bottom: -31px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  left: 50%;
  margin-left: -31px;
  padding: 15px;
  position: absolute;
}

body.night-mode .post-media-image .icon {
  background: var(--card-dark-input);
}

.embed-facebook-wrapper iframe {
  display: none;
}

.embed-iframe-wrapper {
  padding: 0 16px;
}

.embed-iframe-wrapper * {
  width: 100% !important;
}

.embed-iframe-wrapper iframe {
  min-height: 100%;
}

.post-media-meta {
  padding: 15px;
  transition: all 0.2s;
  width: 100%;
}

.post-media-meta .title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  word-break: break-word;
}

.post-media-meta .title:hover {
  text-decoration: none;
}

.post-media-meta .text {
  max-height: 135px;
  overflow: hidden;
}

.post-media-meta .info {
  color: #999;
  font-size: 11px;
}

.post-funding-meta,
.post-job-meta {
  padding: 15px 15px 0;
  text-align: center;
}

.post-funding-meta .funding-title,
.post-job-meta .job-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  word-break: break-word;
}

.post-funding-meta .funding-completion {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
}

.post-funding-meta .funding-description,
.post-job-meta .job-description {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  margin-top: 10px;
  padding: 10px;
}

body.night-mode .funding-completion,
body.night-mode .funding-description,
body.night-mode .job-description {
  background: var(--card-dark-input);
  border-color: var(--card-dark-divider);
}

.post-downloader {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding: 10px 16px;
}

body.night-mode .post-downloader {
  border-color: var(--card-dark-divider);
}

.post-downloader .icon {
  background-color: #f9f9f9;
  border-radius: 16px;
  display: table-cell;
  padding: 10px 20px;
  vertical-align: middle;
}

body.night-mode .post-downloader .icon {
  background-color: var(--card-dark-input);
}

.post-downloader .info {
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}

.post-product-container {
  padding: 0 16px;
}

.post-product-wrapper {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  display: flex;
  font-size: 14px;
  padding: 10px 5px;
}

body.night-mode .post-product-wrapper {
  background: var(--card-dark-input);
  border-color: var(--card-dark-divider);
}

.post-product-details {
  border-right: 1px solid #e5e5e5;
  flex: 1;
  text-align: center;
  vertical-align: middle;
}

body.night-mode .post-product-details {
  border-color: var(--card-dark-divider);
}

.post-product-details:last-child {
  border-right: 0;
}

.post-product-details .title {
  font-weight: 600;
  margin-bottom: 3px;
}

.post-product-details .description {
  color: #555;
}

.post-product-details .description .badge {
  font-size: 13px;
  padding: 4px 12px;
}

body.night-mode .post-product-details .description {
  color: var(--body-color-dark);
}

.action-dropdown-menu .fa {
  color: #8b8b8b;
  margin-right: 10px;
}

.action-dropdown-menu .action {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.action-dropdown-menu .action.no-icon {
  font-weight: 400;
  padding-left: 22px;
}

.action-dropdown-menu .action.no-desc {
  font-weight: 400;
}

.action-dropdown-menu .action-desc {
  color: #555;
  font-size: 11px;
  line-height: 16px;
  padding-left: 30px;
}

body.night-mode .action-dropdown-menu .action-desc {
  color: #a2acb7;
}

.poll-options {
  padding: 0 16px;
}

.poll-option {
  background-color: #ebebeb;
  border-radius: 16px;
  display: table-cell;
  font-weight: 600;
  padding: 8px 12px;
  position: relative;
  vertical-align: top;
  width: 100%;
}

body.night-mode .poll-option {
  background-color: var(--card-dark-input);
}

.poll-option:hover {
  background: #d4d4d4;
  cursor: pointer;
}

.poll-option .percentage-bg {
  background-color: #89a8e8;
  border-radius: 12px;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

body.night-mode .poll-option .percentage-bg {
  background-color: var(--link-color);
}

.poll-option .form-check-input:checked + .form-check-label {
  color: #fff;
}

.poll-voters {
  display: table-cell;
  padding-left: 5px;
  vertical-align: top;
}

.poll-voters .more {
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 35px;
  padding: 8px 0;
  text-align: center;
  width: 35px;
}