/* .navbar-wrapper > ul {
  display: flex;
}
.navbar-wrapper > ul > li {
  flex: 1;
  margin: 0 2px;
  text-align: center;
}
.navbar-wrapper > ul > li.mini-search {
  flex: 4;
} */
/* .navbar-wrapper > ul > li > a {
  border-radius: 4px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
  text-align: center;
} */
.main-header .logo-wrapper {
  height: 100%;
}
.main-header .logo-wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-wrapper svg {
  fill: #1c1b1f;
}
.navbar-wrapper .nav-btn {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px;
  transition: all 0.3s ease;
}
.navbar-wrapper .nav-btn:hover {
  opacity: 0.8;
}
.navbar-wrapper .nav-btn.active {
  border-bottom: 3px solid #fa8622;
}
.navbar-wrapper .nav-btn.active svg {
  fill: #fa8622;
}
.navbar-wrapper .nav-btn-rounded {
  border: 0px;
  background: #f3f5f8;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: all 0.3s ease;
  margin: 10px 5px;
}
.navbar-wrapper .nav-btn-rounded:hover {
  opacity: 0.7;
}
.navbar-wrapper .nav-btn-rounded.active svg circle {
  fill: #fa8622;
}
.navbar-wrapper .counter {
  border-radius: 100% !important;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  position: absolute;
  right: 6px;
  top: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navbar-wrapper .counter.red {
  background: #ff5e3a;
}
.navbar-wrapper .counter.blue {
  background: #38a9ff;
}
.navbar-wrapper .counter.purple {
  background: #7c5ac2;
}
.navbar-wrapper .user-menu > img {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-top: -5px;
  width: 20px;
}
.navbar-wrapper > ul > li.dropdown {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-wrapper.top-nav-middle {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
}
.navbar-wrapper.top-nav-middle > ul {
  display: flex;
}
.navbar-wrapper.top-nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-wrapper.top-nav-right > ul {
  display: flex;
}
.navbar-wrapper.top-nav-right > ul .height-full {
  height: 100%;
}
.navbar-wrapper.top-nav-right > ul .header-icon {
  margin: 20px 5px;
}
.navbar-wrapper.top-nav-right > ul .header-icon svg {
  fill: #ff7600;
  color: #ff7600;
}

@media (min-width: 768px) {
  .navbar-wrapper .user-menu > img {
    height: 52px;
    width: 52px;
  }
  .navbar-wrapper > ul > li.dropdown {
    position: relative;
  }
}
.top-nav-right .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 44px, 0px);
}